.header {
  width: 100%;
  height: 25px;
  background-color: #F2F2F2;
}

.header .header1 {
  width: 1000px;
  height: 25px;
  margin: 0 auto;
}

.header .header1 .headerleft {
  float: left;
  width: 539px;
  height: 25px;
  line-height: 25px;
}

.header .header1 .headerleft a {
  float: left;
  margin: 4px 12px 0 0;
  width: 16px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  background: url(../img/bg.png) no-repeat;
}

.header .header1 .headerleft .zone {
  background-position: 0 -104px;
}

.header .header1 .headerleft .wb {
  background-position: -39px -104px;
}

.header .header1 .headerleft .wx {
  background-position: -19px -104px;
  position: relative;
}

.header .header1 .headerleft .wx span {
  position: absolute;
  top: 22px;
  left: -28px;
  display: none;
  z-index: 2;
}

.header .header1 .headerleft .wx:hover span {
  display: block;
}

.header .header1 .headerright {
  float: left;
  width: 461px;
  height: 25px;
  line-height: 25px;
}

.header .header1 .headerright ul li {
  float: left;
  padding: 0 12px;
  color: #666;
}

.header .header1 .headerright ul li:hover a {
  color: #e74d4d;
}

.header .header1 .headerright ul li a {
  color: #666;
}

.header .header1 .headerright ul .ls:hover {
  background-color: white;
  box-shadow: 0 -5px 15px #ccc;
}

.header .header1 .headerright ul .ls:hover a {
  color: #666;
}

.header .header1 .headerright .client {
  padding-right: 0;
  position: relative;
}

.header .header1 .headerright .arrow {
  position: absolute;
  top: 4px;
  left: 53px;
  width: 9px;
  height: 7px;
  background: url(../img/bg.png) no-repeat;
  background-position: -141px -308px;
}

.header .header1 .headerright .ls {
  width: 65px;
  text-align: center;
  position: relative;
}

.header .header1 .headerright .ls:hover .sevice {
  display: block;
}

.header .header1 .headerright .ls:hover .arrow {
  background-position: -141px -315px;
}

.header .header1 .headerright .sevice {
  width: 87px;
  background-color: white;
  position: absolute;
  top: 25px;
  left: 0px;
  display: none;
  z-index: 2;
}

.header .header1 .headerright .sevice a {
  padding-left: 3px;
}

.header .header1 .headerright .sevice li:hover a {
  color: #e74d4d;
}

/************************nav*****************************/
.nav {
  position: relative;
  width: 100%;
  height: 80px;
}

.nav .nav1 {
  position: relative;
  width: 1000px;
  height: 80px;
  margin: 0 auto;
}

.nav .nav1 .erro {
  width: 19px;
  height: 19px;
  right: 10px;
  top: 0;
  position: absolute;
  background: url(../img/error.png) no-repeat 0 0;
}

.nav .nav1 img {
  width: 100%;
  height: 100%;
}

/************************ser*****************************/
.nav-search {
  width: 1000px;
  height: 95px;
  line-height: 95px;
  margin: 0 auto;
}

.nav-search .left {
  float: left;
  margin: 15px 10px 18px 0;
}

.nav-search .center {
  width: 500px;
  height: 90px;
  float: left;
  margin: 0 25px;
  text-align: center;
  position: relative;
}

.nav-search .center input {
  width: 350px;
  height: 25px;
  outline: none;
  padding: 3px;
  color: #666;
  border: 2px solid #96843A;
}

.nav-search .center .wb {
  width: 358px;
  height: 250px;
  position: absolute;
  left: 30px;
  top: 64px;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10;
  text-align: left;
  display: none;
}

.nav-search .center .wb p {
  padding-left: 5px;
  line-height: 25px;
  cursor: pointer;
}

.nav-search .center .wb .le {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.nav-search .center .wb .ri {
  float: left;
  width: 50%;
  background: #E3E3E3;
  height: 100%;
}

.nav-search .center .wb .ri span {
  width: 40px;
  float: left;
  display: block;
  margin: 5px;
  padding: 3px;
  border: 1px solid #ccc;
  line-height: 15px;
  text-align: center;
  background: white;
}

.nav-search .center .wb .ri span:hover {
  border: 1px solid red;
}

.nav-search .center .wb .ri span:hover a {
  color: red;
}

.nav-search .center button {
  height: 35px;
  width: 80px;
  outline: none;
  border: 2px solid #96843A;
  background-color: #96843A;
  color: white;
  font-size: 14px;
  margin-left: -6px;
}

.nav-search .center ul {
  margin-top: -67px;
  margin-left: 23px;
}

.nav-search .center ul li {
  float: left;
  height: 5px;
  padding: 0 3px;
  color: #666;
}

.nav-search .center ul li a {
  color: black;
}

.nav-search .right {
  position: relative;
  width: 144px;
  height: 30px;
  top: 30px;
  line-height: 30px;
  background-color: #E3E3E3;
  float: right;
}

.nav-search .right .ts {
  display: none;
  position: absolute;
  width: 340px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  top: 32px;
  left: -190px;
  background: white;
  z-index: 2;
}

.nav-search .right .ts:hover {
  display: block;
}

.nav-search .right .ts span {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 0px;
  background: url(../img/aa.gif) no-repeat;
}

.nav-search .right .ts a {
  color: blue;
}

.nav-search .right:hover .ts {
  display: block;
  box-shadow: 0 0 10px #666;
}

.nav-search .right .cart {
  width: 26px;
  height: 19px;
  float: left;
  background: url(../img/bg.png) no-repeat -68px -125px;
  margin-top: 5px;
}

.nav-search .right .cal {
  padding: 0 14px;
}

.nav-search .right em {
  position: absolute;
  width: 6px;
  height: 7px;
  margin-top: 12px;
  background: url(../img/bg.png) no-repeat -128px -104px;
}

/************************list*****************************/
.list {
  width: 1000px;
  height: 38px;
  line-height: 38px;
  margin: 0 auto;
  border-bottom: 2px solid #968239;
}

.list ul li {
  float: left;
}

.list ul li:hover a {
  color: #EE4507;
}

.list ul li a {
  padding: 5px 15px;
  font-size: 18px;
  color: black;
  text-align: center;
}

.list ul li:nth-child(1):hover a {
  color: white;
}

.list ul li:nth-child(1) a {
  padding: 10px 40px;
  background-color: #968239;
  color: white;
}

.list ul li:nth-child(2) a {
  color: #EE4507;
}

.list ul li:nth-child(3) {
  position: relative;
}

.list ul li:nth-child(3) span {
  position: absolute;
  width: 24px;
  height: 12px;
  background: url(../img/new.gif) no-repeat;
  top: -6px;
  right: 7px;
}

.list ul li:nth-child(5) {
  position: relative;
}

.list ul li:nth-child(5) span {
  position: absolute;
  width: 24px;
  height: 12px;
  background: url(../img/new.gif) no-repeat;
  top: -6px;
  right: 7px;
}

.list ul li:nth-child(6) {
  position: relative;
}

.list ul li:nth-child(6) span {
  position: absolute;
  width: 24px;
  height: 12px;
  background: url(../img/new.gif) no-repeat;
  top: -6px;
  right: 7px;
}

.list ul li:nth-child(8) {
  position: relative;
}

.list ul li:nth-child(8) span {
  position: absolute;
  width: 24px;
  height: 12px;
  background: url(../img/hot.gif) no-repeat;
  top: -6px;
  right: 7px;
}

.list .right {
  float: right;
}

/************************mbx*****************************/
.mbx {
  width: 1000px;
  height: 22px;
  line-height: 22px;
  margin: 10px auto;
  color: #666;
}

.mbx h1 {
  float: left;
  font-size: 18px;
  font-size: 600;
}

.mbx h1 a {
  color: #666;
}

.mbx h1 a:hover {
  color: #e74d4d;
}

.mbx .item {
  float: left;
  margin-left: 10px;
}

.mbx .item span {
  padding-right: 10px;
}

.mbx .item a {
  color: #666;
}

.mbx .item a:hover {
  color: #e74d4d;
}

.mbx .item.item1 a {
  color: black;
}

.mbx .item.item1 a:hover {
  color: #e74d4d;
}

/************************content*****************************/
.content {
  position: relative;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
}

.content .left {
  float: left;
  position: relative;
  width: 390px;
  height: 468px;
}

.content .left .middle {
  position: relative;
  width: 100%;
  height: 390px;
  border: 1px solid #ccc;
}

.content .left .middle img {
  width: 390px;
  height: 390px;
}

.content .left .left1 {
  display: none;
  border: 1px solid #ccc;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  left: 397px;
  top: 0px;
}

.content .left .left1 img {
  width: 800px;
  height: 800px;
  position: absolute;
}

.content .left .co {
  margin-top: 10px;
  position: relative;
  width: 390px;
  height: 60px;
  overflow: hidden;
}

.content .left .co .imgWrap {
  width: 1000px;
  position: absolute;
  padding-left: 20px;
}

.content .left .co .imgWrap img {
  width: 58px;
  height: 58px;
  float: left;
  margin: 0 5px;
  border: 1px solid #ccc;
}

.content .left .co .imgWrap .active {
  border: 1px solid red;
}

.content .left .co .arrow {
  position: absolute;
  width: 15px;
  height: 60px;
  overflow: hidden;
  background: url(../img/p.png) no-repeat;
  cursor: pointer;
}

.content .left .co .arrowl {
  left: 0;
  top: 0;
  background-position: 0 -182px;
}

.content .left .co .arrowr {
  right: 0;
  top: 0;
  background-position: -60px -182px;
}

.content .filter {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 205px;
  height: 194px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  cursor: move;
}

.content .center {
  float: left;
  width: 408px;
  height: 450px;
  margin-left: 10px;
}

.content .center .top {
  border-bottom: 1px dashed #ccc;
}

.content .center .top h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.content .center .top ul {
  width: 100%;
  height: 100%;
}

.content .center .top ul li {
  margin: 10px 0;
}

.content .center .top ul li span {
  padding-left: 20px;
}

.content .center .top ul li .price {
  color: red;
  font-size: 16px;
}

.content .center .top ul li .zk {
  text-decoration: line-through;
}

.content .center .top ul li a {
  color: blue;
  cursor: pointer;
}

.content .center .top ul .pro .star {
  display: inline-block;
  width: 63px;
  height: 15px;
  background: url(../img/bg.png) no-repeat 0 -267px;
}

.content .center .bottom .color .title {
  width: 70px;
  margin-bottom: 15px;
}

.content .center .bottom .color .tb-con {
  width: 400px;
  margin-left: 30px;
}

.content .center .bottom .color .tb-con span {
  padding: 10px;
  margin-right: 10px;
}

.content .center .bottom .color .tb-con .active {
  border: 2px solid  #C8100D;
}

.content .center .bottom .tamount {
  margin-top: 30px;
}

.content .center .bottom .tamount title {
  width: 70px;
  margin-bottom: 15px;
}

.content .center .bottom .tamount dt {
  margin-bottom: 10px;
}

.content .center .bottom .tamount dt input {
  width: 38px;
  height: 18px;
  text-align: center;
}

.content .center .bottom .tamount .con {
  margin-left: 40px;
}

.content .center .bottom .tamount .stock {
  margin-left: 20px;
}

.content .center .bottom .tb-prop {
  margin-top: 30px;
}

.content .center .bottom .tb-prop .user-option {
  margin-left: 30px;
  float: left;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #be0106;
}

.content .center .bottom .tb-prop .user-option a {
  display: block;
  color: #be0106;
}

.content .center .bottom .tb-prop .buy {
  background: #E78748;
}

.content .center .bottom .tb-prop .buy a {
  color: white;
  font-size: 18px;
}

.content .center .bottom .tb-prop .cart {
  background: #C8100D;
}

.content .center .bottom .tb-prop .cart a {
  color: white;
  font-size: 18px;
}

.content .right {
  float: left;
  width: 181px;
  height: 450px;
  border: 1px solid #ccc;
}

.content .right .r1 {
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-left: 10px;
}

.content .right .r1 p {
  margin-bottom: 10px;
}

.content .right .r1 p a {
  width: 80px;
  height: 30px;
  float: left;
}

.content .right .r2 p {
  margin-top: 40px;
}

.content .right .r2 p img {
  width: 181px;
}

.show {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

.show .left {
  float: left;
  width: 200px;
  text-align: center;
}

.show .left dl {
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.show .left dt {
  margin-left: 20px;
}

.show .left dt img {
  width: 150px;
  height: 150px;
}

.show .left p {
  color: red;
}

.show .right {
  float: left;
  overflow: hidden;
  width: 778px;
  margin-left: 20px;
  border: 1px solid #ccc;
}

.show .right .title {
  width: 779px;
  height: 40px;
  background: #ddd;
  line-height: 40px;
}

.show .right ul li {
  float: left;
  padding: 0 30px;
  font-size: 15px;
}

.show .right .show1 img {
  padding-left: 20px;
  margin-top: 50px;
}

.footer {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.footer .f2 {
  width: 100%;
  height: 20px;
  text-align: center;
}

.footer .f2 .cc {
  line-height: 20px;
  color: #666;
}

.footer .f3 {
  width: 100%;
  height: 48px;
  text-align: center;
}

.footer .f3 .f31 {
  width: 576px;
  height: 48px;
  margin: 10px auto 0;
}

.footer .f3 .f31 img:nth-child(2) {
  margin-top: 5px;
}

.footer .f3 .f31 img:nth-child(3) {
  margin-top: 5px;
}

.footer .f3 .f31 img:nth-child(4) {
  margin-top: 5px;
}

.footer .f3 .f31 img {
  float: left;
  margin-right: 20px;
  vertical-align: middle;
}
