$hoverColor:#e74d4d;
.header {
	width: 100%;
	height: 25px;
	background-color: #F2F2F2;
	.header1 {
	width: 1000px;
	height: 25px;
	margin: 0 auto;
		.headerleft {
			float: left;
			width: 539px;
			height: 25px;
			line-height: 25px;
				a{
					float: left;
					margin: 4px 12px 0 0;
					width: 16px;
					height: 18px;
					text-align: center;
					line-height: 18px;
					background:url(../img/bg.png) no-repeat;
				}
				.zone {
						background-position: 0 -104px;
				}
				.wb {
						background-position: -39px -104px;
				}
				.wx {
						background-position: -19px -104px;
						position: relative;
						span{
							position: absolute;
							top: 22px;
							left: -28px;
							display: none;
							z-index: 2;
						}
						&:hover{
							span{
								display: block;
							}
						}						
					}
			}

			.headerright {
					float: left;
					width: 461px;
					height: 25px;
					line-height: 25px;
					ul{
						li{
						float: left;
						padding: 0 10px;
						color: #666;
						&:hover{
							a{
								color:$hoverColor;
							}
						}
							a{
								color: #666;
							}
						}

						.ls{
							&:hover{
								background-color: white;
								box-shadow: 0 -5px 15px #ccc;
							}
							&:hover{
								a{
									color: #666;
								}
							}
						}
					}
					
					.client {
							padding-right: 0;
							position: relative;
						}
					.arrow{
						position: absolute;
						top: 4px;
						left: 53px;
						width: 9px;
						height: 7px;
						background:url(../img/bg.png) no-repeat;
						background-position: -141px -308px;
					}
					.ls{
						width: 65px;
						text-align: center;
						position: relative;
						&:hover {
							.sevice{
								display:block;
							}
							.arrow{
								background-position: -141px -315px;
							}
						}
					}
					.sevice{
						width: 85px;
						background-color: white;
						position: absolute;
						top: 25px;
						left: 0px;
						display: none;
						z-index: 2;
						a{
							padding-left: 3px;
						}
						li{
							&:hover{
							a{
								color: $hoverColor;
							}
							}
						}
						
					}

				}
		}
}

/**********************logo**********************************/
.logo{
	position: relative;
	width: 1000px;
	height: 66px;
	margin: 0 auto;
	margin: 32px auto 15px;
	img{
		width: 208px;
		height: 66px;
		position: absolute;
		left: calc(50% - 104px);
	}
}
/**********************topcon**********************************/
.topcon{
	width: 1000px;
	margin: 0 auto;
	.top1{
		width: 700px;
		float: left;
		li{
			float: left;
			position: relative;
			img{
			width: 340px;
			height: 442px;
			padding: 0 5px;
			}
			p{
				position: absolute;
				display: block;
				width: 335px;
				margin-left: 5px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				bottom: 20px;
				font-size: 18px;
				color: white;
			}
		}
		
	}
	.top2{
		border: 6px solid #b3b3b3;
	    width: 278px;
	    height: 428px;
	    float: right;
	    color: #000;
	    display: inline;
		p{
			margin: 18px 0;
			text-align: center;
		}
		h3{
			font-size: 18;
			font-weight: 700;
			text-align: center;
		}
		.brandlist{
			position: relative;
			height: 290px;
			padding: 18px 0 0 8px;
			img{
				float: left;
				margin: 17px;
			}
			.wb{
				position: absolute;
				bottom: 0px;
				left: 100px;
				border: 1px solid black;
				padding:5px 15px;
				font-size: 14px;
				cursor: pointer;
				font-weight: 700;
			}
		}
	}
}