$hoverColor:#e74d4d;
.header {
	width: 100%;
	height: 25px;
	background-color: #F2F2F2;
	.header1 {
	width: 1000px;
	height: 25px;
	margin: 0 auto;
		.headerleft {
			float: left;
			width: 539px;
			height: 25px;
			line-height: 25px;
				a{
					float: left;
					margin: 4px 12px 0 0;
					width: 16px;
					height: 18px;
					text-align: center;
					line-height: 18px;
					background:url(../img/bg.png) no-repeat;
				}
				.zone {
						background-position: 0 -104px;
				}
				.wb {
						background-position: -39px -104px;
				}
				.wx {
						background-position: -19px -104px;
						position: relative;
						span{
							position: absolute;
							top: 22px;
							left: -28px;
							display: none;
							z-index: 2;
						}
						&:hover{
							span{
								display: block;
							}
						}						
					}
			}

			.headerright {
					float: left;
					width: 461px;
					height: 25px;
					line-height: 25px;
					ul{
						li{
						float: left;
						padding: 0 10px;
						color: #666;
						&:hover{
							a{
								color:$hoverColor;
							}
						}
							a{
								color: #666;
							}
						}

						.ls{
							&:hover{
								background-color: white;
								box-shadow: 0 -5px 15px #ccc;
							}
							&:hover{
								a{
									color: #666;
								}
							}
						}
					}
					
					.client {
							padding-right: 0;
							position: relative;
						}
					.arrow{
						position: absolute;
						top: 4px;
						left: 53px;
						width: 9px;
						height: 7px;
						background:url(../img/bg.png) no-repeat;
						background-position: -141px -308px;
					}
					.ls{
						width: 65px;
						text-align: center;
						position: relative;
						&:hover {
							.sevice{
								display:block;
							}
							.arrow{
								background-position: -141px -315px;
							}
						}
					}
					.sevice{
						width: 85px;
						background-color: white;
						position: absolute;
						top: 25px;
						left: 0px;
						display: none;
						z-index: 2;
						a{
							padding-left: 3px;
						}
						li{
							&:hover{
							a{
								color: $hoverColor;
							}
							}
						}
						
					}

				}
		}
}
/************************wr*********************************/
.wr{
	width: 1000px;
	height: 45px;
	margin:30px auto;
}
/************************user*********************************/
.user{
	width: 1000px;
	height: 35px;
	margin: 0 auto;
	background: url(../img/line1.gif) repeat-x 0 bottom;
	li{
		float: left;
		color:#D82F2A;
		padding: 0 40px;
		line-height: 33px;
		font-size: 16px;
		font-weight: 700;
		border: 1px solid #ccc;
		border-bottom-color: #fff;
	}
}
/************************rigester*********************************/
.register{
	width: 1000px;
	height: 560px;
	margin: 0 auto;
	border:1px solid #ccc;
	border-top: none;
	.left{
		float: left;
		margin: 25px 0 30px 30px;
		padding-right: 10px;
		width: 640px;
		border-right: 1px solid #ccc;
		label{
			float: left;
			width: 105px;
			padding-top: 5px;
			font-size: 14px;
			text-align: right;
			strong{
				color: #FF0103;
				margin-right: 3px;
			}
		}
		.item{
			width: 100%;
			float: left;
		}
		.f1{
			width: 260px;
			float: left;
			border: 1px solid #ccc;
			margin-left: 2px;
			margin-bottom: 30px;
			input{
				width: 230px;
				float: left;
				padding: 5px;
				border: none;
				outline: none;
			}
			span{
				float: left;
				display: block;
				width: 18px;
				height: 18px;
				background: url(../img/login_btn.gif) no-repeat -114px -25px; 
			}
		}
		.f2{
			display: none;
			width: 230px;
			float: left;
			background-color: #f5f5f7;
			padding: 5px;
			border: 1px solid #ccc;
			margin-left: 10px;
		}
		.f1.f12{
			border: none;
			input{
				width: 110px;
				border: 1px solid #ccc;
			}
			span{
				width: 110px;
				margin-left: 10px;
				background: none;
				border: 1px solid #ccc;
				padding:5px 0;
				letter-spacing: 20px;
				padding: 5px;
				cursor: pointer;
			}
		}
		.f1.f13{
			border: none;
			input{
				width: 110px;
				border: 1px solid #ccc;
			}
			span{
				width: 110px;
				margin-left: 10px;
				background:#f5f5f7;
				padding:5px 0;
				text-align: center;
				cursor: pointer;
			}
		}
		.f1.f10{
			span{
				background-position: -145px -25px;
			}
		}
		.f1.f14{
			border: none;
			margin-bottom: 30px;
			select{
				width: 100px;
				margin-right: 20px;
			}
		}
		.ty{
			float: left;
			width: 100%;
			color: #666;
			font-size: 14px;
			line-height: 24px;
			margin-left: 89px;
			a{
				color: blue;
			}
		}
		.btn{
			float: left;
			color: white;
			width: 200px;
			height: 40px;
			font-size: 18px;
			line-height: 40px;
			text-align: center;
			background-color: red;
			margin-top: 40px;
			margin-left: 100px;
			cursor: pointer;
		}
	}
	.right{
		float: left;
		margin: 24px;
		width: 246px;
		.top{
			border-bottom: 1px solid #ccc;
			padding: 20px 0;
			text-align: center;
			margin-bottom: 20px;
			p{
				margin-bottom: 12px;
				color: #888;
			}
			button{
				width: 134px;
				height: 33px;
				color: red;
				text-align: center;
				outline: none;
			}
		}
	}
}


.footer{
	width: 1000px;
	margin:0 auto;
	margin-top: 50px;
	.f2{
		width: 100%;
		height: 20px;
		text-align: center;
		p{
			line-height: 20px;
			color: #666;
		}
	}
	.f3{
		width: 100%;
		height: 48px;
		text-align: center;
		.f31{
			width: 576px;
			height: 48px;
			margin: 10px auto 0;
			@for $i from 2 through 4 {
				img:nth-child(#{$i}){
					margin-top: 5px;
				}
			}
			img{
				float: left;
				margin-right: 20px;
				vertical-align: middle;
			}
		}
	}
}